*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #263556;
    overflow: hidden;
}

section {
height: 100vh;
width: 100vw;
display: flex;
flex-direction: row;
}

/*..NAVBAR..*/

.navbar {
position: fixed;
z-index: 999999;
width: 100%;
height: 150px;
display: flex;
align-items: center;

}

.navbar ul {
    display: flex;
    margin-left: 50%;
    font-size: 22px;
    text-transform: uppercase;
    list-style: none;
}

.navbar li {
    margin-right: 30px;
}

.navbar li a {
    color: rgb(180, 169, 169);
    text-decoration: none;
    letter-spacing: 2px;
}

.navbar li a :hover {
    color: white;
}

/*..SECTION LEFT..*/

.left {
    width: 45vw;
    height: 100vh;
   
}

.left .bg {
    background-image: url(img/bg-left.png);
    height: 100%;
    background-size: cover;
    background-position: right;
    position: relative;
}

.canette {
    height: 550px;
    width: 220px;
    left: 30%;
    top: 20%;
    position: relative;
}

.left .bg img {
    position: absolute;
    width: 100%;
}

.play-btn {
    top: 50%;
    right: 6%;
    position: absolute;
}

.round, .round i {
    border-radius: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.round i {
    color: #a3b6e1;
    font-size: 30px;
    transition: 0.2s;
}

.round i:hover {
    color: white;
    font-size: 55px;
}

.play-btn-grand {
    width: 105px;
    height: 105px;
    background: linear-gradient(45deg, #542388, #2f358a);
}

.play-btn-moyen {
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #6f1aad, #3d33ad);
}

.play-btn-petit {
    width: 55px;
    height: 55px;
    background: linear-gradient(45deg, #b503fc, #5334fe);
}


/*..SECTION RIGHT..*/


.right {
    width: 55%;
    height: 100%;
    padding-left: 70px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.bg-right img {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: -9999;
}

.particle img {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -9999;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-up {
    display: flex;
    flex-direction: column;
    position: relative;
    }

.box-up h1 {
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 80px;
}

.box-up .btn-box {
display: flex;
flex-direction: row;
}

.box-up .btn-box button {
    width: 180px;
    height: 60px;
    border: 0;
    border-radius: 50px;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
}

.box-up .btn-box .detail button {
    background: linear-gradient(to left,#7125fe,#9e11f9);
    box-shadow: 0px 0px 10px #9e11f9;
    margin-right: 30px;
}

.box-up .btn-box .buy button {
    background: transparent;
    border: 2px solid #9e11f9;
    width: 230px !important;
    box-shadow: 0px 0px 10px #9e11f9;
}

.trait {
    width: 500px;
    height: 2px;
    background:linear-gradient(to right,#445682,#263556);
    border-radius: 50px;
    margin: 45px 0;
}

.icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon {
    width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.icon img {
    width: 40px;
    margin-right: 10px;
}

.icon .paragraphe h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon .paragraphe p {
    color: #a3b6e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
    font-weight: 400px;

}.bg-right img {
    position: absolute;
    right: 0%;
    height: 100%;
    z-index: -9999;
} 

.box-down {
    position: absolute;
    bottom: 7%;
}

.box-down ul {
    display: flex;
    flex-direction: row;

}

.box-down ul li {
    margin-right: 40px;
}

.box-down ul a {
    color: #a3b6e1;
    font-size: 12px;
    font-weight: 80px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Gestion de la RESPOINSIVE*/

@media (max-width: 1330px) {

    
    .navbar {
        width: 100vw;
        height: 8vh;
        background-color: #b503fc;
        align-items: center;
    }
    .navbar ul {
        margin: auto;
        font-size: 15px;
    }
    .navbar li {
        margin-right: 15px;
    }
    .navbar li a{
        color: aliceblue;
        letter-spacing: 0.8px;
    }
    section {
        width: 100vw;
        height: 92vh;
        flex-direction: column-reverse;
    }
    .right {
        width: 100vw;
        height: 57vh;
        padding-left: 0px;
    }
    .box-up {
        flex-direction: column;
        align-items: center;
    }
    .box-up h1 {
        font-size: 50px;
        text-align: center;
    }
    .box-up .btn-box button {
        width: 150px;
        height: 40px;
    }
    .box-up .btn-box .buy button {
        width: 150px !important;
    }
    .box-down, .bg-right img, .play-btn {
        display: none;
    }
    .icon-box {
        align-content: center;
    }
    .trait {
        width: 500px;
        height: 2px;
        background:linear-gradient(to right,#445682,#263556);
        border-radius: 50px;
        margin: 2vh ;
    
    }
    .left {
        width: 100vw ;
        height: 35vh;
        bottom: 0;
    }
    .left .bg {
        background-image: url(img/bg-left-rotate.png);
        background-position: top;
        
    }
   /* .canette {
        height: 208px;
        width: 110px;
        top: 0;
        left: 45vw;
    } */
    .left .bg img {
       top: 0;
       left: 50%;
      
    }
    
}
